.faq {
  background-color: #fff;

  .wrapper {
    h2 {
      color: #3a494c;
    }

    p {
      padding-top: 10px;
      color: #666;
    }
  }

  .faq-wrapper {
    padding-top: 10px;

    .faq-list {

      li {

        &:first-child {
          p {
            display: block;
          }
        }

        p {
          padding-top: 0;
          display: none;
          text-align: left;
        }
        .title {
          padding-top: 40px;
          h3 {
            padding-bottom: 10px;
            display: block;
            float: left;
            width: 300px;
            font-family: 'Bree Serif', serif;
            font-size: 24px;
            line-height: 30px;
            color: #3a494c;
          }
          a {
            padding: 5px 0;
            display: block;
            float: right;
            width: 44px;
            height: 44px;

            .fa {
              color: #fff;
            }
            .fa-plus-circle {
              color: #666;
              background-color: #fff;
            }

            .fa-minus-circle {
              color: #036b7e;
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}
