.how-it-works {
  background-color: #fff;

  .wrapper {

    h2 {
      color: #3a494c;
    }
    p {
      padding-top: 10px;
      color: #666;
    }

    .how-it-works-wrapper{
      padding-top: 50px;

      h3{
        font-family: 'Bree Serif', serif;
        font-size: 24px;
        color: #3a494c;
        line-height: 30px;
      }
      p{
        padding-top: 25px;
        text-align: left;
      }
    }
  }
}