.portfolio {
  background-image: url(../../images/portfolio/portfolio-bg.png);
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;

  .wrapper {

    h2 {
      font-family: 'Bree Serif', serif;
      font-size: 60px;
      color: #feffff;
      line-height: 60px;
      text-transform: uppercase;
      text-align: center;
    }

    p {
      padding-top: 10px;
      font-family: 'Ubuntu', serif;
      font-size: 14px;
      color: #fff;
      line-height: 24px;
      text-align: center;
    }

    ul {
      padding: 50px 0;
      text-align: center;
      font-size: 0;

      li {
        display: inline-block;
        font-family: 'Bree Serif', serif;
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 1px;

        a {
          display: inline-block;
          color: #fff;
          text-decoration: none;
          padding: 10px;
          @include transition-property(all);
          @include transition-duration(400ms);

          &:hover {
            background-color: #fff;
            color: #3a494c;
            @include border-radius(3px);
          }
        }
      }
    }

    .portfolio-wrapper {
      font-size: 0;
      padding-bottom: 10px;

      img {
        padding-bottom: 40px;
      }
    }

    .button-center {
      font-size: 0;
      text-align: center;
    }
  }
}
