.button{
  text-align: center;
  display: inline-block;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  color: #3a494c;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  background-color: #fff;
  @include border-radius(3px);
  @include transition-property(all);
  @include transition-duration(400ms);

  &:hover{
    background-color: #3a494c;
    color: #fff;
  }
}