.kangaroo {
  width: 370px;
  min-width: 270px;
  margin: 0 auto;

  ul {
    margin: 0 auto;

    li {
      position: relative;
      height: 120px;
      overflow: hidden;

      &:first-child {
        border-top: none;
      }

      a {
        display: block;
        position: relative;
        line-height: 120px;
        -webkit-transition:  color 0.2s ease-in-out;
        -moz-transition:  color 0.2s ease-in-out;
        -o-transition:  color 0.2s ease-in-out;
        -ms-transition:  color 0.2s ease-in-out;
        transition:  color 0.2s ease-in-out;

        .fa {
          color: #fff;
        }
        .fa-plus-circle {
          color: #666;
          background-color: #fff;
        }

        span{
          text-indent:-9000px;
          width: 26px;
          height: 14px;
          position: absolute;
          top: 50%;
          right: -26px;
          margin-top: -7px;
          opacity:0;
          -webkit-transition:  all 0.2s ease-in-out;
          -moz-transition:  all 0.2s ease-in-out;
          -o-transition:  all 0.2s ease-in-out;
          -ms-transition:  all 0.2s ease-in-out;
          transition:  all 0.2s ease-in-out;
        }
      }
    }
  }
}
.kangaroo-content{
  padding: 5px 0px 30px 0px;
  position: absolute;
  p{
    font-family: 'Ubuntu', serif;
    font-size: 14px;
    color: #3A494C;
    line-height: 24px;
    text-align: center;
  }
}
@media screen and (max-width: 320px){
  .kangaroo ul li > a{
    font-size:14px;
  }
}