h2{
  font-family: 'Bree Serif', serif;
  font-size: 60px;
  color: #feffff;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
}

p{
  font-family: 'Ubuntu', serif;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  text-align: center;
}