@import "compass/reset";
@import "compass/css3";

//fonts
@import "fonts/fonts";

//mixins
@import "mixins/placeholder";

//base
@import "base";

//components
@import "components/clearfix";
@import "components/slider";
@import "components/button";
@import "components/social-buttons";
@import "components/input";
@import "components/owl-carousel";
@import "components/kangaroo";

//wigets
@import "widgets/header";
@import "widgets/footer";

//layouts
@import "layouts/homepage";



//@media (max-width: 1199px) {
//
//
//
//}
//
//@media (max-width: 979px) {
//
//
//}
//@media (max-width: 767px) {
//
//}
//
//@media (max-width: 479px) {
//
//
//}
//
//@media (max-width: 320px) {
//
//
//}

