@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
/* line 5, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_base.scss */
.wrapper {
  padding: 60px 0 105px;
}
/* line 3, ../scss/_base.scss */
.wrapper h2 {
  font-family: 'Bree Serif', serif;
  font-size: 60px;
  color: #feffff;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
}
/* line 12, ../scss/_base.scss */
.wrapper p {
  font-family: 'Ubuntu', serif;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  text-align: center;
}

/* line 2, ../scss/components/_clearfix.scss */
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

/* line 2, ../scss/components/_slider.scss */
.slider .camera_wrap a, .slider img, .slider ol, .slider ul, .slider li,
.slider table, .slider tbody, .slider tfoot, .slider thead, .slider tr, .slider th, .slider td {
  background: none;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
/* line 13, ../scss/components/_slider.scss */
.slider .camera_wrap {
  direction: ltr;
  display: none;
  float: left;
  position: relative;
  z-index: 0;
  width: 100%;
}
/* line 21, ../scss/components/_slider.scss */
.slider .camera_wrap img {
  max-width: none !important;
}
/* line 25, ../scss/components/_slider.scss */
.slider .camera_wrap li {
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin: 20px 5px;
  position: relative;
  text-align: left;
  text-indent: 9999px;
  width: 16px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* line 36, ../scss/components/_slider.scss */
.slider .camera_wrap li span {
  height: 8px;
  left: 4px;
  overflow: hidden;
  position: absolute;
  top: 4px;
  width: 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 48, ../scss/components/_slider.scss */
.slider .camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
  z-index: 1;
}
/* line 56, ../scss/components/_slider.scss */
.slider .camera_src {
  display: none;
}
/* line 60, ../scss/components/_slider.scss */
.slider .cameraCont, .slider .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}
/* line 67, ../scss/components/_slider.scss */
.slider .cameraSlide {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
/* line 76, ../scss/components/_slider.scss */
.slider .cameraContent {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
/* line 86, ../scss/components/_slider.scss */
.slider .camera_target {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 0;
}
/* line 98, ../scss/components/_slider.scss */
.slider .camera_overlayer {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
/* line 109, ../scss/components/_slider.scss */
.slider .camera_target_content {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
/* line 118, ../scss/components/_slider.scss */
.slider .camera_target_content .camera_link {
  background: url(../../images/blank.gif);
  display: block;
  height: 100%;
  text-decoration: none;
}
/* line 124, ../scss/components/_slider.scss */
.slider .camera_loader {
  background: #fff url(../../images/slider/camera-loader.gif) no-repeat center;
  background: rgba(255, 255, 255, 0.9) url(../../images/slider/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
}
/* line 139, ../scss/components/_slider.scss */
.slider .camera_bar {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  height: 100%;
  width: auto;
}
/* line 151, ../scss/components/_slider.scss */
.slider .camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}
/* line 161, ../scss/components/_slider.scss */
.slider .camera_caption {
  top: 0;
  display: block;
  position: absolute;
  width: 100%;
  font-family: 'Bree Serif', serif;
  color: #fff;
  font-size: 64px;
  line-height: 63px;
}
/* line 172, ../scss/components/_slider.scss */
.slider .camera_caption p {
  padding-top: 30px;
  font-family: 'Ubuntu', serif;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
}
/* line 180, ../scss/components/_slider.scss */
.slider .camera_caption .button {
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  color: #3a494c;
  text-decoration: none;
  line-height: 24px;
  padding: 10px;
  text-transform: uppercase;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 191, ../scss/components/_slider.scss */
.slider .camera_caption .button:hover {
  background-color: #3a494c;
  color: #fff;
}
/* line 198, ../scss/components/_slider.scss */
.slider .camera_caption div {
  padding: 20px 0;
}
/* line 203, ../scss/components/_slider.scss */
.slider .camerarelative {
  overflow: hidden;
  position: relative;
}
/* line 207, ../scss/components/_slider.scss */
.slider .imgFake {
  cursor: pointer;
}
/* line 210, ../scss/components/_slider.scss */
.slider .camera_prevThumbs {
  bottom: 4px;
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 4px;
  visibility: hidden;
  width: 30px;
  z-index: 10;
}
/* line 220, ../scss/components/_slider.scss */
.slider .camera_prevThumbs div {
  background: url(../images/camera_skins.png) no-repeat -160px 0;
  display: block;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 30px;
}
/* line 230, ../scss/components/_slider.scss */
.slider .camera_nextThumbs {
  bottom: 4px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 4px;
  visibility: hidden;
  width: 30px;
  z-index: 10;
}
/* line 240, ../scss/components/_slider.scss */
.slider .camera_nextThumbs div {
  background: url(../images/camera_skins.png) no-repeat -190px 0;
  display: block;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 30px;
}
/* line 251, ../scss/components/_slider.scss */
.slider .camera_command_wrap .hideNav {
  display: none;
}
/* line 254, ../scss/components/_slider.scss */
.slider .camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4;
}
/* line 261, ../scss/components/_slider.scss */
.slider .camera_wrap .camera_pag {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
/* line 267, ../scss/components/_slider.scss */
.slider .camera_wrap .camera_pag li {
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin: 20px 5px;
  position: relative;
  text-align: left;
  text-indent: 9999px;
  width: 16px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* line 279, ../scss/components/_slider.scss */
.slider .camera_commands_emboss .camera_pag .camera_pag_ul li {
  -moz-box-shadow: 0 1px 0 white, inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 white, inset 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 white, inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 287, ../scss/components/_slider.scss */
.slider .camera_commands_emboss .camera_pag .camera_pag_ul li span {
  height: 8px;
  left: 4px;
  overflow: hidden;
  position: absolute;
  top: 4px;
  width: 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 298, ../scss/components/_slider.scss */
.slider .camera_commands_emboss .camera_pag .camera_pag_ul li:hover > span {
  -moz-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 306, ../scss/components/_slider.scss */
.slider .camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
}
/* line 311, ../scss/components/_slider.scss */
.slider .camera_pag_ul li img {
  display: none;
  position: absolute;
}
/* line 315, ../scss/components/_slider.scss */
.slider .camera_pag_ul .thumb_arrow {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  top: 0;
  left: 50%;
  margin-left: -4px;
  position: absolute;
}
/* line 325, ../scss/components/_slider.scss */
.slider .camera_prev, .slider .camera_next, .slider .camera_commands {
  cursor: pointer;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 40px;
  z-index: 2;
}
/* line 334, ../scss/components/_slider.scss */
.slider .camera_prev {
  left: 0;
}
/* line 337, ../scss/components/_slider.scss */
.slider .camera_prev span {
  background: url(../images/camera_skins.png) no-repeat 0 0;
  display: block;
  height: 40px;
  width: 40px;
}
/* line 345, ../scss/components/_slider.scss */
.slider .camera_next {
  right: 0;
}
/* line 348, ../scss/components/_slider.scss */
.slider .camera_next span {
  background: url(../images/camera_skins.png) no-repeat -40px 0;
  display: block;
  height: 40px;
  width: 40px;
}
/* line 356, ../scss/components/_slider.scss */
.slider .camera_commands {
  right: 41px;
}
/* line 358, ../scss/components/_slider.scss */
.slider .camera_commands .camera_play {
  background: url(../images/camera_skins.png) no-repeat -80px 0;
  height: 40px;
  width: 40px;
}
/* line 363, ../scss/components/_slider.scss */
.slider .camera_commands .camera_stop {
  background: url(../images/camera_skins.png) no-repeat -120px 0;
  display: block;
  height: 40px;
  width: 40px;
}
/* line 371, ../scss/components/_slider.scss */
.slider .camera_wrap .camera_pag .camera_pag_ul li {
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin: 20px 5px;
  position: relative;
  text-indent: 9999px;
  width: 16px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 381, ../scss/components/_slider.scss */
.slider .camera_thumbs_cont {
  overflow: hidden;
  position: relative;
  width: 100%;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 388, ../scss/components/_slider.scss */
.slider .camera_thumbs_cont div {
  width: 100%;
}
/* line 392, ../scss/components/_slider.scss */
.slider .camera_thumbs_cont ul {
  overflow: hidden;
  padding: 3px 4px 8px;
  position: relative;
  text-align: center;
}
/* line 398, ../scss/components/_slider.scss */
.slider .camera_thumbs_cont ul li {
  display: inline;
  padding: 0 4px;
}
/* line 402, ../scss/components/_slider.scss */
.slider .camera_thumbs_cont ul li img {
  border: 1px solid;
  cursor: pointer;
  margin-top: 5px;
  vertical-align: bottom;
}
/* line 411, ../scss/components/_slider.scss */
.slider .camera_commands_emboss .camera_thumbs_cont {
  -moz-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 420, ../scss/components/_slider.scss */
.slider .camera_clear {
  display: block;
  clear: both;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}
/* line 428, ../scss/components/_slider.scss */
.slider .showIt {
  display: none;
}

/* line 433, ../scss/components/_slider.scss */
.camera_caption {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #FFF;
}

/* line 442, ../scss/components/_slider.scss */
.camera_caption div {
  height: 100%;
}

/* line 446, ../scss/components/_slider.scss */
.camera_pag_ul {
  text-align: center;
  position: absolute;
  bottom: 38px;
  left: 0;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 457, ../scss/components/_slider.scss */
.camera_pag_ul li {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #FFF;
  transition: all 0.3s ease 0s;
  margin-bottom: 0;
  margin-top: 5px;
}

/* line 471, ../scss/components/_slider.scss */
.camera_pag_ul li.cameracurrent,
.camera_pag_ul li:hover {
  background: #fff;
}

/* line 476, ../scss/components/_slider.scss */
.camera_pag_ul li + li {
  margin-left: 9px;
}

/* line 480, ../scss/components/_slider.scss */
.camera_pag_ul li > span {
  display: none;
}

/* line 488, ../scss/components/_slider.scss */
.camera_next, .camera_prev {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  font: 400 26px 'FontAwesome';
  line-height: 40px;
  text-align: center;
  background: none;
  color: #3a494c;
  cursor: pointer;
  transition: .3s all ease;
  z-index: 10;
  border-radius: 50%;
}

/* line 505, ../scss/components/_slider.scss */
.camera_next:hover, .camera_prev:hover {
  background: #3a494c;
  color: #fff;
}

/* line 510, ../scss/components/_slider.scss */
.camera_next {
  right: 30px;
}

/* line 514, ../scss/components/_slider.scss */
.camera_next:before {
  content: '\f105';
}

/* line 518, ../scss/components/_slider.scss */
.camera_prev {
  left: 30px;
}

/* line 522, ../scss/components/_slider.scss */
.camera_prev:before {
  content: '\f104';
}

@media (max-width: 1199px) {
  /* line 527, ../scss/components/_slider.scss */
  .camera_pag_ul {
    display: none;
  }

  /* line 530, ../scss/components/_slider.scss */
  em {
    font-size: 44px;
    text-transform: none;
    line-height: 44px;
  }

  /* line 535, ../scss/components/_slider.scss */
  h2 + .p__offs1 {
    margin-top: 0;
  }

  /* line 538, ../scss/components/_slider.scss */
  .p__offs1 + .btn {
    margin-top: 5px;
  }

  /* line 541, ../scss/components/_slider.scss */
  .btn {
    line-height: 30px;
    font-size: 15px;
  }

  /* line 545, ../scss/components/_slider.scss */
  .camera_caption {
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  /* line 552, ../scss/components/_slider.scss */
  .brand {
    display: block;
    font-size: 40px;
  }

  /* line 557, ../scss/components/_slider.scss */
  .fa {
    display: block;
    font-size: 45px;
    line-height: 51px;
  }

  /* line 562, ../scss/components/_slider.scss */
  .fa + h1 {
    margin-left: 0;
  }
}
/**************************
*
*	COLORS & SKINS
*
**************************/
/* line 1, ../scss/components/_button.scss */
.button {
  text-align: center;
  display: inline-block;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  color: #3a494c;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
/* line 15, ../scss/components/_button.scss */
.button:hover {
  background-color: #3a494c;
  color: #fff;
}

/* line 1, ../scss/components/_social-buttons.scss */
.social-buttons {
  padding-top: 35px;
}
/* line 4, ../scss/components/_social-buttons.scss */
.social-buttons li {
  margin-right: 10px;
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #a5d2da;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
/* line 14, ../scss/components/_social-buttons.scss */
.social-buttons li:first-child {
  background-color: #036b7e;
}
/* line 18, ../scss/components/_social-buttons.scss */
.social-buttons li:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 24, ../scss/components/_social-buttons.scss */
.social-buttons li a .fa {
  font-size: 30px;
  line-height: 50px;
  color: #fff;
}

/* line 1, ../scss/components/_input.scss */
input {
  display: block;
  height: 40px;
  border: none;
  line-height: 40px;
  background-color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 3, ../scss/mixins/_placeholder.scss */
input::-webkit-input-placeholder {
  font-size: 14px;
  font: '"Ubuntu", sans-serif';
  color: #666666;
}
/* line 9, ../scss/mixins/_placeholder.scss */
input::-moz-placeholder {
  font-size: 14px;
  font: '"Ubuntu", sans-serif';
  color: #666666;
}
/* line 15, ../scss/mixins/_placeholder.scss */
input:-ms-input-placeholder {
  font-size: 14px;
  font: '"Ubuntu", sans-serif';
  color: #666666;
}
/* line 21, ../scss/mixins/_placeholder.scss */
input:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 24, ../scss/mixins/_placeholder.scss */
input:focus::-moz-placeholder {
  color: transparent;
}
/* line 27, ../scss/mixins/_placeholder.scss */
input:focus:-moz-placeholder {
  color: transparent;
}
/* line 30, ../scss/mixins/_placeholder.scss */
input:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 1, ../scss/components/_owl-carousel.scss */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 8, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-animated-in {
  z-index: 0;
}

/* line 12, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-animated-out {
  z-index: 1;
}

/* line 16, ../scss/components/_owl-carousel.scss */
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 44, ../scss/components/_owl-carousel.scss */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

/* line 52, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

/* line 57, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 66, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

/* line 72, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
}

/* line 79, ../scss/components/_owl-carousel.scss */
.owl-carousel.owl-loaded {
  display: block;
}

/* line 83, ../scss/components/_owl-carousel.scss */
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

/* line 88, ../scss/components/_owl-carousel.scss */
.owl-carousel.owl-hidden {
  opacity: 0;
}

/* line 92, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-refresh .owl-item {
  display: none;
}

/* line 96, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* line 105, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-item img {
  display: block;
  -webkit-transform-style: preserve-3d;
}

/* line 113, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

/* line 121, ../scss/components/_owl-carousel.scss */
.owl-carousel.owl-rtl {
  direction: rtl;
}

/* line 125, ../scss/components/_owl-carousel.scss */
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* line 129, ../scss/components/_owl-carousel.scss */
.no-js .owl-carousel {
  display: block;
}

/* line 133, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
}

/* line 137, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* line 141, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

/* line 147, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
}

/* line 164, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

/* line 169, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* line 180, ../scss/components/_owl-carousel.scss */
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

/* line 201, ../scss/components/_owl-carousel.scss */
.owl-nav .owl-prev + .owl-next {
  margin-left: 0;
}

/* line 214, ../scss/components/_owl-carousel.scss */
.owl-dots .owl-dot + .owl-dot {
  margin-left: 0;
}

/* line 1, ../scss/components/_kangaroo.scss */
.kangaroo {
  width: 370px;
  min-width: 270px;
  margin: 0 auto;
}
/* line 6, ../scss/components/_kangaroo.scss */
.kangaroo ul {
  margin: 0 auto;
}
/* line 9, ../scss/components/_kangaroo.scss */
.kangaroo ul li {
  position: relative;
  height: 120px;
  overflow: hidden;
}
/* line 14, ../scss/components/_kangaroo.scss */
.kangaroo ul li:first-child {
  border-top: none;
}
/* line 18, ../scss/components/_kangaroo.scss */
.kangaroo ul li a {
  display: block;
  position: relative;
  line-height: 120px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
/* line 28, ../scss/components/_kangaroo.scss */
.kangaroo ul li a .fa {
  color: #fff;
}
/* line 31, ../scss/components/_kangaroo.scss */
.kangaroo ul li a .fa-plus-circle {
  color: #666;
  background-color: #fff;
}
/* line 36, ../scss/components/_kangaroo.scss */
.kangaroo ul li a span {
  text-indent: -9000px;
  width: 26px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: -26px;
  margin-top: -7px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 55, ../scss/components/_kangaroo.scss */
.kangaroo-content {
  padding: 5px 0px 30px 0px;
  position: absolute;
}
/* line 58, ../scss/components/_kangaroo.scss */
.kangaroo-content p {
  font-family: 'Ubuntu', serif;
  font-size: 14px;
  color: #3A494C;
  line-height: 24px;
  text-align: center;
}

@media screen and (max-width: 320px) {
  /* line 67, ../scss/components/_kangaroo.scss */
  .kangaroo ul li > a {
    font-size: 14px;
  }
}
/* line 1, ../scss/widgets/_header.scss */
header {
  background: #fff;
}
/* line 5, ../scss/widgets/_header.scss */
header nav > a {
  float: left;
  line-height: 153px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  font-size: 40px;
  color: #3a494c;
}
/* line 14, ../scss/widgets/_header.scss */
header nav > a .fa {
  line-height: 20px;
}
/* line 18, ../scss/widgets/_header.scss */
header nav ul {
  margin-top: 55px;
  font-size: 0;
  float: right;
}
/* line 23, ../scss/widgets/_header.scss */
header nav ul li {
  float: left;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  margin-left: 1px;
}
/* line 31, ../scss/widgets/_header.scss */
header nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #3a494c;
  padding: 15px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
/* line 39, ../scss/widgets/_header.scss */
header nav ul li a:hover {
  background-color: #3a494c;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 979px) {
  /* line 50, ../scss/widgets/_header.scss */
  header nav > a {
    float: left;
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  /* line 59, ../scss/widgets/_header.scss */
  header nav > a {
    float: left;
    font-size: 36px;
  }
}
@media (max-width: 479px) {
  /* line 68, ../scss/widgets/_header.scss */
  header nav > a {
    float: left;
    font-size: 31px;
    line-height: 50px;
  }
  /* line 73, ../scss/widgets/_header.scss */
  header nav ul {
    margin: 0;
  }
}
@media (max-width: 320px) {
  /* line 83, ../scss/widgets/_header.scss */
  header nav > a {
    float: left;
    font-size: 31px;
    line-height: 50px;
  }
  /* line 88, ../scss/widgets/_header.scss */
  header nav ul {
    margin: 0;
  }
}

/* line 1, ../scss/widgets/_footer.scss */
footer {
  background-color: #2c2c2c;
}
/* line 5, ../scss/widgets/_footer.scss */
footer .contact-us .wrapper {
  padding-bottom: 0;
}
/* line 7, ../scss/widgets/_footer.scss */
footer .contact-us .wrapper p {
  padding-top: 10px;
}
/* line 11, ../scss/widgets/_footer.scss */
footer .contact-us .wrapper form {
  text-align: center;
  margin: 50px 0;
  width: 570px;
}
/* line 16, ../scss/widgets/_footer.scss */
footer .contact-us .wrapper form input {
  width: 555px;
  padding-left: 15px;
  margin-bottom: 10px;
}
/* line 22, ../scss/widgets/_footer.scss */
footer .contact-us .wrapper form textarea {
  margin-bottom: 40px;
  padding: 15px 0 0 15px;
  width: 555px;
  height: 165px;
  border: none;
  background-color: #fff;
  resize: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 3, ../scss/mixins/_placeholder.scss */
footer .contact-us .wrapper form textarea::-webkit-input-placeholder {
  font-size: 14px;
  font: '"Ubuntu", sans-serif';
  color: #666666;
}
/* line 9, ../scss/mixins/_placeholder.scss */
footer .contact-us .wrapper form textarea::-moz-placeholder {
  font-size: 14px;
  font: '"Ubuntu", sans-serif';
  color: #666666;
}
/* line 15, ../scss/mixins/_placeholder.scss */
footer .contact-us .wrapper form textarea:-ms-input-placeholder {
  font-size: 14px;
  font: '"Ubuntu", sans-serif';
  color: #666666;
}
/* line 21, ../scss/mixins/_placeholder.scss */
footer .contact-us .wrapper form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 24, ../scss/mixins/_placeholder.scss */
footer .contact-us .wrapper form textarea:focus::-moz-placeholder {
  color: transparent;
}
/* line 27, ../scss/mixins/_placeholder.scss */
footer .contact-us .wrapper form textarea:focus:-moz-placeholder {
  color: transparent;
}
/* line 30, ../scss/mixins/_placeholder.scss */
footer .contact-us .wrapper form textarea:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 34, ../scss/widgets/_footer.scss */
footer .contact-us .wrapper form button {
  display: inline-block;
  width: 100px;
  height: 40px;
  font-family: 'Bree Serif', sans-serif;
  font-size: 20px;
  color: #3a494c;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #fff;
  border: none;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
/* line 50, ../scss/widgets/_footer.scss */
footer .contact-us .wrapper form button:hover {
  color: #fff;
  background-color: #036b7e;
}
/* line 56, ../scss/widgets/_footer.scss */
footer .contact-us .wrapper p {
  padding: 10px 0;
}
/* line 62, ../scss/widgets/_footer.scss */
footer .map .image {
  position: relative;
  background-image: url("../../images/map/map-bg.png");
  width: 100%;
  height: 350px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
/* line 71, ../scss/widgets/_footer.scss */
footer .map .image span {
  position: absolute;
  top: 40%;
  left: 59%;
  display: inline-block;
  width: 29px;
  height: 29px;
  border: 10px solid #51865b;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 320px) {
  /* line 85, ../scss/widgets/_footer.scss */
  footer ul {
    display: inline-table;
    text-align: center;
  }
}

/* line 1, ../scss/layouts/_services.scss */
.homepage .services {
  background-color: #fff;
}
/* line 4, ../scss/layouts/_services.scss */
.homepage .services .wrapper {
  padding: 45px 0 105px;
  font-size: 0;
}
/* line 8, ../scss/layouts/_services.scss */
.homepage .services .wrapper figure {
  display: inline-block;
  width: 365px;
  height: 315px;
  text-align: center;
}
/* line 15, ../scss/layouts/_services.scss */
.homepage .services .wrapper figure img {
  padding: 35px 0;
}
/* line 19, ../scss/layouts/_services.scss */
.homepage .services .wrapper figure .ideas {
  padding: 19px 0;
}
/* line 22, ../scss/layouts/_services.scss */
.homepage .services .wrapper figure figcaption {
  padding: 0 15px;
}
/* line 25, ../scss/layouts/_services.scss */
.homepage .services .wrapper figure figcaption h3 {
  font-family: 'Bree Serif', sans-serif;
  font-size: 24px;
  color: #3a494c;
  line-height: 30px;
  text-transform: capitalize;
}
/* line 32, ../scss/layouts/_services.scss */
.homepage .services .wrapper figure figcaption p {
  padding-top: 25px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 24px;
  text-align: center;
}
@media (max-width: 479px) {
  /* line 60, ../scss/layouts/_services.scss */
  .homepage .services figure figcaption p {
    width: 270px;
  }
}
@media (max-width: 320px) {
  /* line 71, ../scss/layouts/_services.scss */
  .homepage .services figure figcaption p {
    width: 270px;
  }
}
/* line 1, ../scss/layouts/_portfolio.scss */
.homepage .portfolio {
  background-image: url(../../images/portfolio/portfolio-bg.png);
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
/* line 12, ../scss/layouts/_portfolio.scss */
.homepage .portfolio .wrapper h2 {
  font-family: 'Bree Serif', serif;
  font-size: 60px;
  color: #feffff;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
}
/* line 21, ../scss/layouts/_portfolio.scss */
.homepage .portfolio .wrapper p {
  padding-top: 10px;
  font-family: 'Ubuntu', serif;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  text-align: center;
}
/* line 30, ../scss/layouts/_portfolio.scss */
.homepage .portfolio .wrapper ul {
  padding: 50px 0;
  text-align: center;
  font-size: 0;
}
/* line 35, ../scss/layouts/_portfolio.scss */
.homepage .portfolio .wrapper ul li {
  display: inline-block;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 1px;
}
/* line 42, ../scss/layouts/_portfolio.scss */
.homepage .portfolio .wrapper ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
/* line 50, ../scss/layouts/_portfolio.scss */
.homepage .portfolio .wrapper ul li a:hover {
  background-color: #fff;
  color: #3a494c;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 59, ../scss/layouts/_portfolio.scss */
.homepage .portfolio .wrapper .portfolio-wrapper {
  font-size: 0;
  padding-bottom: 10px;
}
/* line 63, ../scss/layouts/_portfolio.scss */
.homepage .portfolio .wrapper .portfolio-wrapper img {
  padding-bottom: 40px;
}
/* line 68, ../scss/layouts/_portfolio.scss */
.homepage .portfolio .wrapper .button-center {
  font-size: 0;
  text-align: center;
}
/* line 1, ../scss/layouts/_features.scss */
.homepage .features {
  background-color: #fff;
}
/* line 6, ../scss/layouts/_features.scss */
.homepage .features .wrapper h2 {
  font-family: 'Bree Serif', serif;
  font-size: 60px;
  color: #3a494c;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
}
/* line 14, ../scss/layouts/_features.scss */
.homepage .features .wrapper p {
  padding-top: 10px;
  font-family: 'Ubuntu', serif;
  font-size: 14px;
  color: #666;
  line-height: 24px;
  text-align: center;
}
/* line 23, ../scss/layouts/_features.scss */
.homepage .features .wrapper .features-wrapper {
  padding: 50px 0 40px;
}
/* line 26, ../scss/layouts/_features.scss */
.homepage .features .wrapper .features-wrapper figure {
  font-size: 0;
}
/* line 29, ../scss/layouts/_features.scss */
.homepage .features .wrapper .features-wrapper figure img {
  width: 170px;
  height: 170px;
}
/* line 34, ../scss/layouts/_features.scss */
.homepage .features .wrapper .features-wrapper figure figcaption {
  float: right;
  width: 355px;
}
/* line 38, ../scss/layouts/_features.scss */
.homepage .features .wrapper .features-wrapper figure figcaption h3 {
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  color: #3a494c;
  line-height: 30px;
}
/* line 44, ../scss/layouts/_features.scss */
.homepage .features .wrapper .features-wrapper figure figcaption p {
  padding-top: 10px;
  font-family: 'Ubuntu', serif;
  font-size: 14px;
  color: #666;
  line-height: 24px;
  text-align: left;
}
/* line 52, ../scss/layouts/_features.scss */
.homepage .features .wrapper .features-wrapper figure figcaption p a {
  color: #036b7e;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
/* line 57, ../scss/layouts/_features.scss */
.homepage .features .wrapper .features-wrapper figure figcaption p a:hover {
  text-decoration: none;
}
/* line 69, ../scss/layouts/_features.scss */
.homepage .features .wrapper .features-nav ul li {
  font-family: 'Ubuntu', serif;
  font-size: 14px;
  color: #666;
  line-height: 24px;
}
/* line 75, ../scss/layouts/_features.scss */
.homepage .features .wrapper .features-nav ul li .triangle {
  display: inline-block;
  width: 5px;
  height: 5px;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #573e41;
}
/* line 87, ../scss/layouts/_features.scss */
.homepage .features .wrapper .features-nav ul li span {
  color: #036b7e;
}
/* line 1, ../scss/layouts/_advantages.scss */
.homepage .advantages {
  background-image: url(../../images/advantages/advantages-bg.png);
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
/* line 12, ../scss/layouts/_advantages.scss */
.homepage .advantages .wrapper p {
  padding-top: 10px;
}
/* line 16, ../scss/layouts/_advantages.scss */
.homepage .advantages .wrapper .advantages-wrapper {
  padding-top: 10px;
}
/* line 19, ../scss/layouts/_advantages.scss */
.homepage .advantages .wrapper .advantages-wrapper .index-list {
  position: relative;
  counter-reset: li;
}
/* line 23, ../scss/layouts/_advantages.scss */
.homepage .advantages .wrapper .advantages-wrapper .index-list li {
  padding-top: 40px;
}
/* line 25, ../scss/layouts/_advantages.scss */
.homepage .advantages .wrapper .advantages-wrapper .index-list li h3 {
  padding-top: 110px;
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  color: #fff;
  line-height: 30px;
  text-align: center;
}
/* line 36, ../scss/layouts/_advantages.scss */
.homepage .advantages .wrapper .advantages-wrapper .index-list li:before {
  margin-left: 90px;
  position: absolute;
  content: counter(li,decimal) ".";
  counter-increment: li;
  /* повышаем значение счетчика */
  width: 90px;
  height: 90px;
  line-height: 80px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  font-family: 'Bree Serif', serif;
  font-size: 60px;
  color: #666;
  text-align: center;
}
/* line 1, ../scss/layouts/_team.scss */
.homepage .team {
  background-color: #fff;
}
/* line 5, ../scss/layouts/_team.scss */
.homepage .team .wrapper h2 {
  color: #3a494c;
}
/* line 8, ../scss/layouts/_team.scss */
.homepage .team .wrapper p {
  padding-top: 10px;
  color: #666;
}
/* line 13, ../scss/layouts/_team.scss */
.homepage .team .wrapper .team-wrapper {
  padding-top: 50px;
}
/* line 16, ../scss/layouts/_team.scss */
.homepage .team .wrapper .team-wrapper figure {
  text-align: center;
}
/* line 19, ../scss/layouts/_team.scss */
.homepage .team .wrapper .team-wrapper figure img {
  padding-bottom: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 24, ../scss/layouts/_team.scss */
.homepage .team .wrapper .team-wrapper figure figcaption {
  padding: 0 15px;
}
/* line 27, ../scss/layouts/_team.scss */
.homepage .team .wrapper .team-wrapper figure figcaption h3 {
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  color: #3a494c;
}
/* line 1, ../scss/layouts/_testimonials.scss */
.homepage .testimonials {
  background-image: url("../../images/testimonials/testimonials-bg.png");
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
/* line 16, ../scss/layouts/_testimonials.scss */
.homepage .testimonials .wrapper p {
  padding-top: 10px;
}
/* line 20, ../scss/layouts/_testimonials.scss */
.homepage .testimonials .wrapper .testimonials-wrapper {
  padding-top: 50px;
}
/* line 27, ../scss/layouts/_testimonials.scss */
.homepage .testimonials .owl-carousel .item figure {
  font-size: 0;
}
/* line 30, ../scss/layouts/_testimonials.scss */
.homepage .testimonials .owl-carousel .item figure img {
  float: left;
  margin-right: 30px;
  width: 170px;
  height: 170px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 37, ../scss/layouts/_testimonials.scss */
.homepage .testimonials .owl-carousel .item figure figcaption {
  float: right;
  width: 555px;
}
/* line 41, ../scss/layouts/_testimonials.scss */
.homepage .testimonials .owl-carousel .item figure figcaption h3 {
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  color: #fff;
  line-height: 30px;
}
/* line 47, ../scss/layouts/_testimonials.scss */
.homepage .testimonials .owl-carousel .item figure figcaption h3 span {
  font-size: 16px;
  vertical-align: middle;
}
/* line 53, ../scss/layouts/_testimonials.scss */
.homepage .testimonials .owl-carousel .item figure figcaption .fa-quote-left {
  font-size: 30px;
  line-height: 24px;
  color: #fff;
}
/* line 58, ../scss/layouts/_testimonials.scss */
.homepage .testimonials .owl-carousel .item figure figcaption p {
  text-align: left;
  margin-left: 35px;
  padding: 0;
  width: 490px;
}
/* line 65, ../scss/layouts/_testimonials.scss */
.homepage .testimonials .owl-carousel .item figure figcaption .fa-quote-right {
  font-size: 30px;
  line-height: 0;
  color: #fff;
  float: right;
}
/* line 75, ../scss/layouts/_testimonials.scss */
.homepage .testimonials .owl-carousel .owl-controlls {
  margin-top: 13px;
}
@media (max-width: 479px) {
  /* line 80, ../scss/layouts/_testimonials.scss */
  .homepage .testimonials figure {
    font-size: 0;
  }
  /* line 83, ../scss/layouts/_testimonials.scss */
  .homepage .testimonials figure img {
    margin-right: 30px;
    width: 170px;
    height: 170px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  /* line 89, ../scss/layouts/_testimonials.scss */
  .homepage .testimonials figure figcaption {
    width: 555px;
  }
}
@media (max-width: 320px) {
  /* line 96, ../scss/layouts/_testimonials.scss */
  .homepage .testimonials figure {
    font-size: 0;
  }
  /* line 99, ../scss/layouts/_testimonials.scss */
  .homepage .testimonials figure img {
    margin-right: 30px;
    width: 170px;
    height: 170px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  /* line 105, ../scss/layouts/_testimonials.scss */
  .homepage .testimonials figure figcaption {
    width: 555px;
  }
}
/* line 1, ../scss/layouts/_how-it-works.scss */
.homepage .how-it-works {
  background-color: #fff;
}
/* line 6, ../scss/layouts/_how-it-works.scss */
.homepage .how-it-works .wrapper h2 {
  color: #3a494c;
}
/* line 9, ../scss/layouts/_how-it-works.scss */
.homepage .how-it-works .wrapper p {
  padding-top: 10px;
  color: #666;
}
/* line 14, ../scss/layouts/_how-it-works.scss */
.homepage .how-it-works .wrapper .how-it-works-wrapper {
  padding-top: 50px;
}
/* line 17, ../scss/layouts/_how-it-works.scss */
.homepage .how-it-works .wrapper .how-it-works-wrapper h3 {
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  color: #3a494c;
  line-height: 30px;
}
/* line 23, ../scss/layouts/_how-it-works.scss */
.homepage .how-it-works .wrapper .how-it-works-wrapper p {
  padding-top: 25px;
  text-align: left;
}
/* line 1, ../scss/layouts/_properties.scss */
.homepage .properties {
  background-image: url(../../images/properties/properties-bg.png);
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
/* line 12, ../scss/layouts/_properties.scss */
.homepage .properties .wrapper h2 {
  color: #3a494c;
}
/* line 15, ../scss/layouts/_properties.scss */
.homepage .properties .wrapper p {
  padding-top: 10px;
  color: #666;
}
/* line 20, ../scss/layouts/_properties.scss */
.homepage .properties .wrapper .properties-wrapper {
  padding-top: 50px;
}
/* line 24, ../scss/layouts/_properties.scss */
.homepage .properties .wrapper .properties-wrapper figure {
  text-align: center;
}
/* line 27, ../scss/layouts/_properties.scss */
.homepage .properties .wrapper .properties-wrapper figure .diagram {
  display: inline-block;
}
/* line 31, ../scss/layouts/_properties.scss */
.homepage .properties .wrapper .properties-wrapper figure figcaption {
  padding-top: 25px;
}
/* line 34, ../scss/layouts/_properties.scss */
.homepage .properties .wrapper .properties-wrapper figure figcaption h3 {
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  line-height: 30px;
  color: #3a494c;
}
/* line 1, ../scss/layouts/_faq.scss */
.homepage .faq {
  background-color: #fff;
}
/* line 5, ../scss/layouts/_faq.scss */
.homepage .faq .wrapper h2 {
  color: #3a494c;
}
/* line 9, ../scss/layouts/_faq.scss */
.homepage .faq .wrapper p {
  padding-top: 10px;
  color: #666;
}
/* line 15, ../scss/layouts/_faq.scss */
.homepage .faq .faq-wrapper {
  padding-top: 10px;
}
/* line 23, ../scss/layouts/_faq.scss */
.homepage .faq .faq-wrapper .faq-list li:first-child p {
  display: block;
}
/* line 28, ../scss/layouts/_faq.scss */
.homepage .faq .faq-wrapper .faq-list li p {
  padding-top: 0;
  display: none;
  text-align: left;
}
/* line 33, ../scss/layouts/_faq.scss */
.homepage .faq .faq-wrapper .faq-list li .title {
  padding-top: 40px;
}
/* line 35, ../scss/layouts/_faq.scss */
.homepage .faq .faq-wrapper .faq-list li .title h3 {
  padding-bottom: 10px;
  display: block;
  float: left;
  width: 300px;
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  line-height: 30px;
  color: #3a494c;
}
/* line 45, ../scss/layouts/_faq.scss */
.homepage .faq .faq-wrapper .faq-list li .title a {
  padding: 5px 0;
  display: block;
  float: right;
  width: 44px;
  height: 44px;
}
/* line 52, ../scss/layouts/_faq.scss */
.homepage .faq .faq-wrapper .faq-list li .title a .fa {
  color: #fff;
}
/* line 55, ../scss/layouts/_faq.scss */
.homepage .faq .faq-wrapper .faq-list li .title a .fa-plus-circle {
  color: #666;
  background-color: #fff;
}
/* line 60, ../scss/layouts/_faq.scss */
.homepage .faq .faq-wrapper .faq-list li .title a .fa-minus-circle {
  color: #036b7e;
  background-color: #fff;
}
/* line 1, ../scss/layouts/_blog.scss */
.homepage .blog {
  background-image: url(../../images/blog/blog-bg.png);
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
/* line 14, ../scss/layouts/_blog.scss */
.homepage .blog .wrapper p {
  padding-top: 10px;
}
/* line 18, ../scss/layouts/_blog.scss */
.homepage .blog .wrapper .blog-wrapper {
  padding-top: 50px;
}
/* line 22, ../scss/layouts/_blog.scss */
.homepage .blog .wrapper .blog-wrapper .first h3 {
  color: #036b7e;
}
/* line 27, ../scss/layouts/_blog.scss */
.homepage .blog .wrapper .blog-wrapper figure {
  position: relative;
  padding: 15px;
  background-color: #fff;
}
/* line 32, ../scss/layouts/_blog.scss */
.homepage .blog .wrapper .blog-wrapper figure img {
  width: 100%;
}
/* line 36, ../scss/layouts/_blog.scss */
.homepage .blog .wrapper .blog-wrapper figure figcaption {
  padding: 20px 0;
}
/* line 39, ../scss/layouts/_blog.scss */
.homepage .blog .wrapper .blog-wrapper figure figcaption h3 {
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  color: #3a494c;
  line-height: 30px;
}
/* line 45, ../scss/layouts/_blog.scss */
.homepage .blog .wrapper .blog-wrapper figure figcaption p {
  text-align: left;
  color: #666;
}
/* line 50, ../scss/layouts/_blog.scss */
.homepage .blog .wrapper .blog-wrapper figure figcaption time {
  margin: 30px 15px;
  text-align: center;
  top: 0;
  position: absolute;
  display: block;
  width: 310px;
  height: 30px;
  background-color: #fff;
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  color: #3a494c;
  line-height: 30px;
  text-transform: uppercase;
}
/* line 1, ../scss/layouts/_partners.scss */
.homepage .partners {
  background-color: #fff;
}
/* line 4, ../scss/layouts/_partners.scss */
.homepage .partners .wrapper h2 {
  color: #3a494c;
}
/* line 7, ../scss/layouts/_partners.scss */
.homepage .partners .wrapper p {
  padding-top: 10px;
  color: #3a494c;
}
/* line 12, ../scss/layouts/_partners.scss */
.homepage .partners .wrapper .partners-list {
  height: 80px;
  padding-top: 50px;
  font-size: 0;
}
/* line 18, ../scss/layouts/_partners.scss */
.homepage .partners .wrapper .partners-list li {
  line-height: 80px;
  display: inline-block;
}
/* line 23, ../scss/layouts/_partners.scss */
.homepage .partners .wrapper .partners-list li:first-child img {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 28, ../scss/layouts/_partners.scss */
.homepage .partners .wrapper .partners-list li img {
  vertical-align: middle;
  padding: 0 40px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
@media (max-width: 479px) {
  /* line 37, ../scss/layouts/_partners.scss */
  .homepage .partners ul {
    display: inline-table;
    text-align: center;
  }
}
@media (max-width: 320px) {
  /* line 44, ../scss/layouts/_partners.scss */
  .homepage .partners ul {
    display: inline-table;
    text-align: center;
  }
}
